.contents {
  text-align: center;
  width: 386px;
  margin:0 auto;
  padding: 0;
  border: solid, 1px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}

.field {
  text-align: left;
  font-size: 18px;
}

.email {
  text-align: left;
}

.text-feild {
  height: 64px;
  width: 386px;
  font-size: 16px;
  padding: 10px;
}

.btn .sign-up	{
  background-color: #3399FF;
  border: none;
  width: 386px;
  margin: auto;
  height: 64px;
  vertical-align: middle;
}

#signup-button {
  background-color: #3399FF;
  border: none;
  width: 386px;
  margin: auto;
  height: 64px;
  vertical-align: middle;
}

#login-button {
  width: 386px;
  margin: auto;
  height: 64px;
  vertical-align: middle;
}
