.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

//body中央寄せ。
body {
  width: 1080px;
  box-sizing: border-box;
  margin: 0 auto;
}

//button & inputの青い枠をなくす。
*:focus {
  outline: none;
}

.logo_image {
  width: 28.95px;
  height: 28.95px;
  margin-left: 15px;
}

.fa fa-angle-down {
  position: absolute; left: -20px;
}

h3 {
  font-weight: normal;
  font-size: 19px;
  margin: 0;
  margin-bottom: 24px;
}

.header__main--title {
  float: left;
  font-size: 18px;
  line-height: 61px;
}

#header {
  width: 100%;
  z-index: 0;
}

.header__main--nav-menu {
  float: right;
}

#username {
  font-style: bold;
  font-size: 24px;
}

.header__main--title-list {
  font-weight: normal;
  float: left;
  padding: 8px 19px 0 19px;
  line-height: 61px;
  display: block;
  cursor: pointer;
}
.header__main--title-list-image {
  background-color: #F2F2F2;
  box-shadow: 0 0 0 2px #DBDBDB;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 28px;
  height: 28px;
}
.header__main--title-list .profile {
  height: 28px;
  width: 28px;
  display: block;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 61px;
}

a {
  color: #484848;
}

a:hover {
  text-decoration: none;
}

.main {
  z-index: 0;
  box-sizing: border-box;
  font-family:HelveticaNeue;
  &__container {
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.main__header {
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 48px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 48px;
  &--text {
    width: 60%;
  }
}

.main__header--text-content {
  font-weight: 700;
  color: #FF5A5F;
}

.main__header--text {
  line-height: 56px;
  font-size: 48px;
  letter-spacing: -0.8px;
  color: #484848;
}

.panel-body {
  display: none;
}

.main {
　height: 100%;
  width: 1080px;
}

.SearchForm {
  border: 1px solid #dce0e0;
  border-radius: 4px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 48px;
  box-shadow: 0 1px 3px 0 #dce0e0;
  &__input-wrapper {
    position: relative;
    display: table;
    table-layout: auto;
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.SearchForm__row {
  display: table-row;
  width: 100%;
}

.SearchForm__location {
  display: table-cell;
  float: none;
  width: 35%;
  padding: 15px 16px 8px;
  vertical-align: middle;
  box-sizing: border-box;
}

.SearchForm__label {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 15px;
  letter-spacing: -0.5px;
  white-space: nowrap;
}

.LocationInput {
  border-style: hidden;
  font-size: 19px;
  letter-spacing: -0.5px;
  line-height: 22px;
  padding: 8px 0;
}

.SearchForm__dates {
  display: table-cell;
  font-size: 19px;
  letter-spacing: -0.5px;
  line-height: 22px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #dce0e0;
  padding: 15px 16px 8px;
  width: 35%;
  font-weight: normal;
  vertical-align: middle;
  box-sizing: border-box;
}

.SearchForm__dates span {
  font-weight: normal;
}

.DataInput {
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  border-style: hidden;
}

#startDate {
  box-sizing: border-box;
  width: 140px;
  border-style: hidden;
  line-height: 22px;
}

#endDate {
  box-sizing: border-box;
  width: 140px;
  border-style: hidden;
}

.DataRangePicker__arrow {
  display: inline-block;
  line-height: 22px;
}

.SearchForm__guests {
  font-size: 19px;
  display: table-cell;
  letter-spacing: -0.5px;
  line-height: 22px;
  padding: 15px 16px 8px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #dce0e0;
  width: 17%;
  font-weight: normal;
  box-sizing: border-box;
}

.SearchForm__guests span {
  font-weight: normal;
}

.GuestPickerTriger {
  position: relative;
}
.GuestPickerTrigger__button {
  text-align: left;
  border-style: none;
  border-left: 0;
  padding: 0;
  background-color: #fff;
}

.dropdown_icon {
  position: absolute; top: 0;
  right: 5px;
}

.SearchForm__submit {
  padding: 15px 16px 8px;
  display: table-cell;
  font-size: 19px;
  letter-spacing: -0.5px;
  line-height: 22px;
  vertical-align: middle;
  max-width: 250px;
}

.SearchForm__submit button {
  font-size: 18px;
  line-height: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: normal;
  float: right;
}

.btn-primary {
  border-color: #ff5a5f;
  background-color: #ff5a5f;
  color: #fff;
}

.experience {
  box-sizing: border-box;
  padding: 0;
  max-width: 100%;
  overflow: auto;
  margin-left: -8px;
  margin-right: -8px;
}

.experience__container {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  padding-right: 8px;
  padding-left: 8px;
  margin: 0;
}

.room-wrapper {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px;
  margin-left: -20px;
}

.room-box {
  display: table-cell;
  height: 224px;
}

.box {
  width: 100%;
  height: 100%;
}

.destination {
  box-sizing: border-box;
  margin-left: -8px;
  margin-right: -8px;
  overflow: hidden;
  width: 100%;
  padding-bottom: 48px;
}

.destination__container {
  width: 16.3%;
  padding-bottom:0;
  padding: 0 8px;
  display: inline-block;
}

.destination-image {
  display: inline-block;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.destination-label {
  font-weight: 700;
}

footer {
  border-top: 1px solid #dce0e0;
}

.footer__container-top {
  padding: 48px 24px;
  margin: 0 auto;
  width: 1080px;
}

#language__selecter-1{
  position: relative;
  margin-bottom: 8px;
}

.language__selecter-text {
  padding-left: 12px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  border-radius: 0px;
  border: 1px solid #dce0e0;
  background-color: inherit;
  width: 164px;
  height: 50px;
  font-size: 19px;
  line-height: 24px;
}

.language__selecter{
  float: left;
}

.footer__container-right {
  float: right;
  width: 70%;
  padding-bottom: 48px;
}

.info-air-bnb {
  float: left;
}

.recommend {
  float: left;
  padding-left: 50px;
}

.info-hosting {
  float: left;
  padding-left: 130px;
}

.footer__divider {
  border: 0;
  border-top: 1px solid #dce0e0;
  margin-top: 48px;
  margin-bottom: 24px;
  width: 1080px;
}

.footer__container--bottom {
  font-weight: normal ;
  color: #848484;
  font-size: 14px;
}

.footer__container--bottom-left {
  float: left;
}

.footer__container--bottom-right {
  font-weight: normal;
  color: #848484;
  float: right;
  &-text {
    float: left;
  }
}

.bottom-info-subject {
  font-size: 1em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 18px;
}

.bottom-info-contents {
  color: #848484;

}

i {
  padding-left: 24px;
  color: #848484;
}

.back-to-top {
  display: none;
}

#modal-main {
　　display: none;
　　width: 500px;
　　height: 300px;
　　margin: 0;
　　padding: 0;
　　background-color: #ffffff;
　　color: #666666;
　　position:fixed;
　　z-index: 2;
}

#modal-background {
　　display: none;
　　width:100%;
　　height:100%;
　　background-color:rgba(0,0,0,0.75);
　　position:fixed;
　　top:0;
　　left:0;
　　z-index: 9999;
}

/* buttonの点滅 */
button.highlight{
    animation: flashing 2.0s ease-out;
    animation-iteration-count: infinite;    /* 繰り返し回数 または infinite */
}

@keyframes flashing {
    0%   { opacity: 0.25; }
    50%  { opacity: 1;}
    100% { opacity: 0.5; }
}
