.search__main {
  width: 1080px;
  height: 100%;
}
.search__roombox--up {
  display: table;
}
.search__room--image {
  display: table-cell;
}
.search__roombox--down {
  display: table;
}
.search__roombox--down--listing {
  display: table-cell;
}
