<!DOCTYPE html>
<html>
  <head>
    <title>air-bnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">
      html, body { height: 100%; margin: 50px; padding: 0; }
      #map { height: 700px; width: 100%; }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
